/* PLUTO SANS CONDENSED ----------------------------- */

/* Pluto Sans Condensed Thin */
@font-face {
    font-family: 'pluto-sans-condensed-thin';
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-thin.eot');
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-thin.woff') format('woff'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-thin.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-thin.svg#pluto-sans-condensed-thin') format('svg');
    font-weight: 100;
    font-style: normal;

}

/* Pluto Sans Condensed Extra Light */
@font-face {
    font-family: 'pluto-sans-condensed-exlight';
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-exlight.eot');
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-exlight.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-exlight.woff') format('woff'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-exlight.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-exlight.svg#pluto-sans-condensed-exlight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Pluto Sans Condensed Light */
@font-face {
    font-family: 'pluto-sans-condensed-light';
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-light.eot');
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-light.woff') format('woff'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-light.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-light.svg#pluto-sans-condensed-light') format('svg');
    font-weight: 300;
    font-style: normal;

}

/* Pluto Sans Condensed Regular */
@font-face {
    font-family: 'pluto-sans-condensed-regular';
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-regular.eot');
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-regular.woff') format('woff'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-regular.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-regular.svg#pluto-sans-condensed-regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

/* Pluto Sans Condensed Medium */
@font-face {
    font-family: 'pluto-sans-condensed-medium';
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-medium.eot');
    src: url('fonts/pluto-sans-condensed/pluto-sans-condensed-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-medium.woff') format('woff'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-medium.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed/pluto-sans-condensed-medium.svg#pluto-sans-condensed-medium') format('svg');
    font-weight: 500;
    font-style: normal;

}






body {
    background: white;
    font-size: 24px;
    color: #222;
    font-family: "pluto-sans-condensed-light", Impact, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: "pluto-sans-condensed-medium", Impact, sans-serif;
    /*text-transform: uppercase;*/
    font-weight: normal;
    margin-bottom: 1em;
    margin-top: 2em;
}

h6 {
    color: white;
    margin: 0;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #993399;
}

a:hover, a:focus {
    color: #0f59b4;
}

.container {
    margin: 3em auto 6em;
}

.container img {
    max-width: 100%;
}


@media screen and (min-width: 0) {
    .container {width: 80%;}
}

@media screen and (min-width: 500px) {
    .container {width: 60%;}
}
